html {
    scroll-behavior: smooth;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

div{
}

#logo-section{
    height: 64px;
    width: 100%;
    position: fixed;
    background-color: white;
    border-bottom: 2px solid lightgray;
}

#times-logo{
    margin-top: 10px;
    margin-left: 50px;
    width: 200px;
    height: 40px;
    
    display: inline-block;
    
    background-image: url(nyt-games-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: eft;
}

#game-mode-button-section {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    width: 505px;
    float: right;
}

.large-rectangle-button{
    height: 40px;
    width: 200px;
    border-radius: 4px;
    margin-right: 50px;
    background-color: white;
    border: 1px solid lightgray;
    
    font-size: 16px;
    user-select: none;
}

.large-rectangle-button:hover {
    background-color: lightgray;
    transform: scale(1.05);
}


/*  Title Section   */

#title-section{
    padding-top: 64px;
    height: 132px;
    width: 100%;
    border-bottom: 2px solid lightgray;
    
}

#title-and-date-section{
    padding-top: 40px;
    padding-left: 50px;
    display: grid;
    grid-template-columns: 230px 200px;
}

#spelling-bee-title{
    margin: 0;
    
    font-weight: bold;
    font-size: 28px;
    font-family: verdana;
}

#date-title{
    margin: 0;
    padding-top: 5px;
    
    display: table-cell;
    vertical-align: top;
    
    font-size: 22px;
    font-family: verdana;
}

#edited-by-title{
    padding-left: 50px;
    padding-top: 10px;
    margin: 0;
    width: 100%;
    
    font-family: verdana;
    
}


/*      option bar section      */

#option-bar-section{
    height: 56px;
    width: 100%;
    border-bottom: 2px solid lightgray;
}




/*      main page       */

#main-grid{
    height: 670px;
    display: grid;
    grid-template-columns: 50vw 50vw;
}

#letter-half{
    background-color: white;
    
    width: 234px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
    height: 400px;

}

#notification-box{
    text-align: center;
    
    font-family: verdana;
    height: 24px;
    font-size: 24px;
    margin-bottom: 10px;
}

#word-entry{
    height: 80px;
    
    text-align: center;
    line-height: 80px;
    font-size: 50px;
    font-weight: bold;
    
    font-family: verdana;
    
}


#game-button-section{
    width: 234px;
    height: 100px;
    
    display: grid;
    grid-template-columns: 85px 40px 85px;
    grid-column-gap: 12px;
    
    margin-top: 35px;
}

.rectangle-button{
    height: 40px;
    width: 85px;
    border-radius: 17px;
    background-color: white;
    border: 1px solid lightgray;
    
    font-size: 16px;
    user-select: none;
}

.rectangle-button:hover {
    background-color: lightgray;
    transform: scale(1.05);
}

#shuffle-button{
    background-image: url(shuffle-icon.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.circle-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: white;
    
    border: 1px solid lightgray;
}

.circle-button:hover {
    background-color: lightgray;
    transform: scale(1.05);
}


/*      found words     */

#found-words-half{
    background-color: white;
    padding-left: 50px;
}

#point-counter{
    margin-top: 100px;
    height: 30px;
    font-family: verdana;
}

#word-bank-outline{
    padding-top: 30px;
    padding: 30px;
    width: 400px;
    height: 400px;
    
    border: 1px solid lightgrey;
    border-radius: 10px;
}

#word-bank{
    
    font-family: verdana;
}


/*      hexagon     */

#letter-board{
    width: 250px;
    height: 300px
}

#invis{
    opacity: 0;
}


.hex {
    float: left;
    margin-right: -15px;
    margin-bottom: -34.615px;
}

.hex:hover {
    transform: scale(1.04);
}

.hex .left {
    float: left;
    width: 0;
    border-right: 22.5px solid #e8e4e4;
    border-top: 39px solid transparent;
    border-bottom: 39px solid transparent;
}

.hex .middle {
    float: left;
    width: 45px;
    height: 78px;
    background: #f8dc24;
    
    font-family: verdana;
    font-weight: bolder;
    font-size: 24px;
    
    user-select: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.left.gold {
    border-right-color: #f8dc24;
}



.hex .right {
    float: left;
    width: 0;
    border-left: 22.5px solid #e8e4e4;
    border-top: 39px solid transparent;
    border-bottom: 39px solid transparent;
}

.right.gold {
    border-left-color: #f8dc24;
}

.hex-row {
    clear: left;
}

.hex.even {
    margin-top: 42px;
}

.hex.invisible {
    visibility: hidden;
}


